/******************************/
/* SECTION 1 – Hoe Sonos werkt */
/******************************/
main {
  gap: 10em;
}

main section a {
  padding: var(--primary-button-padding);
  border-radius: var(--primary-button-radius);
  border: 1px solid var(  --primary-btn-border-color);
  color: var( --primary-text);
  font-size: var(--primary-button-font-size);
  text-decoration: none;
  transition: 0.2s ease;
}

/* Eerste section in main */
main>section:nth-of-type(1) {
  max-width: var(--grid-max-width);
  margin: 0 auto;
  padding: var(--grid-gutter);
  margin-top: 10%;
}

main>section:nth-of-type(1)>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* grid container */
main>section:nth-of-type(1)>ul>li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: var(--gap-large);
  row-gap: var(--gap-medium);
  align-items: center;
}

main>section:nth-of-type(1)>ul>li>h2:nth-of-type(1) {
  grid-column: 1 / 2;
  grid-row: 1;
  align-self: end;
  font-size: var(--font-size-xxlarge);
  font-weight: 400;
}


main>section:nth-of-type(1)>ul>li>a {
  grid-column: 1 / 2;
  grid-row: 2;
  justify-self: start;
  align-self: start;

  display: inline-block;
  margin-top: 1rem;
  padding: var(--primary-button-padding);
  border-radius: var(--primary-button-radius);
  border: 1px solid var(--primary-btn-border-color);
  color: var(--primary-text);
  font-size: var(--primary-button-font-size);
  text-decoration: none;
  transition: background 0.2s ease;
}

main>section:nth-of-type(1)>ul>li>a:hover {
  background: rgba(0, 0, 0, 0.06);
}


main>section:nth-of-type(1)>ul>li>img {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  width: 100%;
  height: auto;
  object-fit: contain;
}


main>section:nth-of-type(1)>ul>li>h3 {
  grid-column: 1 / 2;
  grid-row: 4;
  font-size: var(--font-size-xlarge);
  font-weight: 400;
  margin-bottom: 0.5rem;
}


main>section:nth-of-type(1)>ul>li>p {
  grid-column: 2 / 2;
  grid-row: 4;
  line-height: 1.5;
}

/***********************/
/* RESPONSIVE SECTION 1*/
/***********************/
@media (max-width: 64em) {
  main>section:nth-of-type(1)>ul>li {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  /* dit moet beter kunnen */
  main>section:nth-of-type(1)>ul>li>h2:nth-of-type(1),
  main>section:nth-of-type(1)>ul>li>a,
  main>section:nth-of-type(1)>ul>li>h2:nth-of-type(2),
  main>section:nth-of-type(1)>ul>li>p,
  main>section:nth-of-type(1)>ul>li>img {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  main>section:nth-of-type(1) img {
    margin-top: 2rem;
  }

  main>section:nth-of-type(1) h2 {
    margin-top: 2rem;
  }
}


/******************************/
/* SECTION 2 –                */
/******************************/

main section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: var(--gap-large);
  row-gap: var(--gap-medium);
  align-items: center;
  margin-bottom: 10rem;
}

main section:nth-of-type(2)>h2 {
  grid-column: 1 / 2;
  grid-row: 4;
  align-self: end;
  font-size: var(--font-size-xxlarge);
  font-weight: 400;
}

main section:nth-of-type(2)>p {
  grid-column: 2 / 2;
  grid-row: 4;
  line-height: 1.5;
}

main section:nth-of-type(2)>a {
  grid-column: 2 / 2;
  grid-row: 5;
  line-height: 1.5;
}

main section:nth-of-type(2)>img {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 64em) {
  main>section:nth-of-type(2) {
    grid-template-columns: 1fr;
    column-gap: 0;

  }

  main>section:nth-of-type(2) h2,
  main>section:nth-of-type(2) p,
  main>section:nth-of-type(2) a,
  main>section:nth-of-type(2) img {
    grid-column: 1 / -1;
    grid-row: auto;
  }
}

/******************************/
/* SECTION 3 Img + icon/avifs whjatever */
/******************************/

main section:nth-of-type(3) {
  max-width: var(--grid-max-width);
  margin: 0 auto;
  padding: var(--grid-gutter);
  display: grid;
  grid-template-columns: minmax(0, 1.1fr) minmax(0, 1.2fr);
  column-gap: var(--gap-large);
  align-items: center;
}


main section:nth-of-type(3) img {
  grid-column: 1 / 2;
  width: 100%;
  height: auto;
  object-fit: contain;
}


main section:nth-of-type(3) ul {
  grid-column: 2 / 3;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 3rem;
}


main section:nth-of-type(3) li {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.25rem;
  align-items: flex-start;
}

/* icon left */
main section:nth-of-type(3) svg {
  width: 2.2rem;
  height: 2.2rem;
}


main section:nth-of-type(3) h3 {
  align-self: center;
  font-size: var(--font-size-medium);
  font-weight: 600;
}


main section:nth-of-type(3) p {
  grid-column: 2 / 3;
  max-width: 26rem;
  line-height: 1.5;
  color: var(--secondary-text);
}

@media (max-width: 64em) {
  main section:nth-of-type(3) {
    grid-template-columns: 1fr;
    row-gap: var(--gap-large);
  }

  main section:nth-of-type(3) img,
  main section:nth-of-type(3) ul {
    grid-column: 1 / -1;
  }

  /* img bovuh li eronder */
  main section:nth-of-type(3) img {
    order: -1;
  }
}


/******************************/
/* SECTION 4 scroll animation */
/******************************/


/* https://youtu.be/gYwmiZ0Mza8 */
.reverse-scroll-animation {
height: 400vh;
overflow: visible;
view-timeline-name: --section-pin-t1;
view-timeline-axis: block;

}

.sticky {
  position: sticky;
  top: 0;

  height: 100vh;
  width: 100vw;
  overflow-y: clip;
}

/* Three column layout */
.columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  gap: 3em;
  overflow-y: hidden;
}

.column {
  gap: 2em;
	display: flex;
	flex-direction: column;
}

/* Shift entire column up, but not so much that it goes out of view */
.column-reverse {
	transform: translateY(calc(-100% + 100vh));
  flex-direction: column-reverse;

  /* deze animation doet weird geen idee wat het is vraag dit ff */
  animation: adjust-position linear forwards;
	animation-timeline: scroll(root block);

}


/* Set up Animation */
@keyframes adjust-position {
	/* Start position: shift entire column up, but not so that it goes out of view */
	from {
		transform: translateY(calc(-100% + 100vh));
	}

	/* End position: shift entire column down, but not so that it goes out of view */
	to {
		transform: translateY(calc(100% - 100vh));
	}
}

/* Hook our animation with the timeline to our columns */
