@font-face {
  font-family: "sonos";
  src: url("../fonts/SonosGroteskVF_W_Wght.woff2");
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
/* Voeg hier alle kleur variables toe */

/* Colors */
--main-color: #ffffff; /* Actueel */
--primary-color: #222222;
--secondary-color: #555555;
--tertiary-color: #888888;
--accent-color: #ff0000;
--background-color: #3b410b; /* Actueel */
--text-color: #000000; /* Actueel */
--warning-color: #ffcc00;
--error-color: #ff0000;
/* Font Sizes */
--font-size-small: 1em;
--font-size-medium: 1.2em;
--font-size-large: 1.6em;
--font-size-xlarge: 21.2em;
/* White spaces */
--ws-small: 1px;
--ws-medium: 1px;
--ws-large: 1px;
--ws-xlarge: 1px;
/* Border radius */
--border-radius-small: 4px;
--border-radius-medium: 8px;
--border-radius-large: 12px;
--border-radius-xlarge: 16px;
/* Padding */
--padding-small: 4px;
--padding-medium: 8px;
--padding-large: 12px;
--padding-xlarge: 16px;
/* Gap */
--gap-small: 0.6em;
--gap-medium: 1em;
--gap-large: 1.8em;
--gap-xlarge: 2.4em;
/* Cards */
  --card-color:#333;
  --card-background:#fff;
}

html, body {
 font-family: "sonos", sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/****************/
/* HEADER + NAV */
/****************/

/* Promo bar */
.promo-bar {
  min-height: 40px;
  display: flex;
  padding: var(--padding-large);
  text-align: left;
  justify-content: space-between;
  background-color: var(--background-color);
  color: var(--main-color);
  text-align: center;
}

.promo-bar div {
  display: block;
  cursor: pointer;
}


/* Navbar */
/************************/
/* PROMO BAR (bovenste) */
/************************/

.promo-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--background-color);
  color: var(--main-color);
  padding: 12px 16px;
  position: relative;
  font-size: 1rem;
}

.promo-close {
  position: absolute;
  left: 16px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.promo-link {
  position: absolute;
  right: 16px;
  color: white;
  text-decoration: underline;
}


/********************/
/* MAIN NAV (wit)   */
/********************/





/********************/
/* MAIN             */
/********************/
main {
  /* jouw code hier */
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100vw;

}
@media screen and (54em > width) {
 main {
/*     grid-template-columns: repeat( 1, minmax(1fr, 1fr) ); */
   grid-template-columns: repeat(1, 1fr);
  }
}

article:first-child {
grid-column: 1/-1;

}
article:first-child img {
  display:block;
  margin:0 auto;
  border-radius: var(--border-radius-xlarge);
  width: 100%;
}


article:nth-of-type(3n) {
  /* nb. niet nodig voor de eerste 6 sommetjes */
  
  /* jouw code hier */
  
}

article {
  background-color:var(--card-background);
  color:var(--card-color);
  padding:1em;
}


article h2 {
  margin:0 0 .25em;
  line-height:1.1em;
}

article p {
   margin:0;
}