



/****************/
/* HEADER + NAV */
/****************/

/* Promo bar */


/* Navbar */
/************************/
/* PROMO BAR (bovenste) */
/************************/
header ul:nth-of-type(1) {
  background-color: var(--promo-bar-background);
  color: var(--main-color);
  display: flex;
  height: 5vh;
  align-items: center;
  text-decoration: none;
  justify-content: space-around;
 & li {
    flex: space-between ;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
 } &a {
    color: var(--main-color);
    text-decoration: none;
    text-underline-position: below;
 }} 


/********************/
/* MAIN NAV (wit)   */
/********************/

.hero {
  position: relative;
  height: 100vh;
  width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  ;
}
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* convert dit ff later naar goeie variables dit is spaghetti code... */
/* Background video */
.hero-vid {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* overlaytje */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--hero-overlay);
}

/* centered content */
.hero-content {
  position: relative;
  text-align: center;
  color: var(--main-color);
  z-index: 2;
  padding: 0 1rem;
}

.hero-content h1 {
  font-size: var(--hero-title-size);
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

/* btn in hero */
.hero-btn {
  cursor: pointer;
  display: inline-block;
  padding: var(--primary-button-padding);
  border-radius: var(--primary-button-radius);
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-size: var(--primary-button-font-size);
  text-decoration: none;
  transition: 0.2s ease;
}

.hero-btn:hover {

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(3px);
}



/********************/
/* MAIN             */
/********************/
main {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--grid-gutter);
  max-width: var(--grid-max-width);
  margin: 0 auto;
  margin-top: 2em;

}

@media screen and (66em > width) {
  main {
    /*     grid-template-columns: repeat( 1, minmax(1fr, 1fr) ); */
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Articles */
article {
  background-color: var(--card-background);
  color: var(--card-color);
  padding: 1em;
  
}


/* First article */
/* Nesting zodat het ff wat mooier is */
main article:first-child {
  position: relative;
  width: var(--max-width);
  height: 56vh;
  border-radius: var(--border-radius-xxlarge);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
& > h2 {
    font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 400;
}
& > p {
    font-size: clamp(1rem, 2vw, 1.3rem);
    max-width: 600px;
}
& > img {
  position: absolute;
  width: var(--max-width);
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
& > h3 {
    font-size: var(--font-size-xlarge);
  font-weight: 400;
  color: var(--text-color);
}
/* overlay */
&::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--hero-overlay);
    z-index: 2;
  }
  /* btn styling en hovertje*/
  &>a {
  display: inline-block;
  padding: var(--primary-button-padding);
  border-radius: var(--primary-button-radius);
  border: 1px solid var(--main-color);
  color: var(--main-color);
  text-decoration: none;
  font-size: var(--primary-button-font-size);
  transition: 0.2s ease;
  &:hover {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(3px);
  }
}
}



/* dit geeft me echt hoofdpijn */
main article:first-child>h2,
main article:first-child>p,
main article:first-child>a {
  position: relative;
  z-index: 3;
  color: var(--main-color);
  margin: 0.5em 0;
}

/* alle h3's in main in article krijgen */
main article section {
  & h3 {
  font-size: var(--font-size-xlarge);
  font-weight: 400;
  color: var(--text-color);
  }
 & > p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondary-color);
}}


@media screen and (min-width: 54em) {
  main article:first-child {
    grid-column: 1 / -1; /* full row */
  }
}
/* main article:first-child>a:hover {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(3px);
} */



/* Article 2 */
main article:nth-of-type(2)  {
  grid-column: 1 / -1;
  text-align: center;
& h2 {
    color: var(--text-color);
    font-size: var(--font-size-xxlarge);
    font-weight: 400;
}
}

/* */
main article:nth-of-type(3)  {
  display: flex;
  align-items: center;
  justify-content: center;
  & blockquote {
    margin-top: 1.5em;
    font-size: var(--font-size-small);
    font-weight: 400;
    color: var(--text-color);
    border: 1px solid var(--tertiary-color);
    border-radius: var(--border-radius-medium);
    padding: 1.2em;
    width: fit-content;
    display: flex;
    align-items: center;
  }
  & strong {
    font-size: 2.2rem;
    font-weight: 400;
  }
}


main article:nth-of-type(4)  {

& img {
  max-width: var(--max-width);
 object-fit: contain;
} 
}

main article:nth-of-type(5)  {

& img {
  max-width: var(--max-width);
 object-fit: contain;

} & blockquote {

}}

main article:nth-of-type(6)  {

    display: flex;
  align-items: center;
  justify-content: center;
  & blockquote {
    margin-top: 1.5em;
    font-size: var(--font-size-small);
    font-weight: 400;
    color: var(--text-color);
    border: 1px solid var(--tertiary-color);
    border-radius: var(--border-radius-medium);
    padding: 1.2em;
    width: fit-content;
  }
  & quote {
    font-size: var(--font-size-medium);
    font-weight: 400;
  }}


  main article:nth-of-type(7)  {
    display: flex;
  align-items: center;
  justify-content: center;

}

.sonos-animation {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-medium);
}


main article:nth-of-type(8)  {
  grid-column: 1 / -1;
  gap: var(--grid-gutter);
  justify-content: space-between;
  display: flex;
} & img {
  max-width: var(--max-width);
  object-fit: contain;
} & section {


}

@media screen and (66em > width) {
  main article:nth-of-type(8) {
    /*     grid-template-columns: repeat( 1, minmax(1fr, 1fr) ); */
    flex-wrap: wrap;
  }
}
